<h1>Welcome to TaskManager</h1>

<% if user_signed_in? %>
  <p>Hello, <%= current_user.email %>!</p>
  <%= link_to 'Go to Dashboard', home_index_path %> |
  <%= form_with(url: destroy_user_session_path, method: :delete, local: true) do %>
    <%= submit_tag "Log Out" %>
  <% end %>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path %> |
  <%= link_to 'Log In', new_user_session_path %>
<% end %>